h2 {
    color: blue;
}

*{
    color: green;
}
/* 태그 선택자 */

.orange{
    color: orange;
}
/* 클래스 선택자 */

#red {
    color: red;
}
/* 아이디 선택자 */

#list_1 {
    color: purple;
}

.bg-red {
    background-color:red;
}