<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mvc와 mysql</title>
</head>
<body>
    <H2>MVC패턴과 MYSQL 연결</H2>
    <a href="/visitor">방명록 남기기</a>
</body>
</html>