<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>axios post 실습</title>
    <script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <form name="register">
        <input type="text" name="id" placeholder="아이디" required/><br/>
        <input type="password" name="pw" placeholder="비밀번호" pattern="^[a-zA-Z0-9]{3,}$" title="영문, 숫자 사용해 3글자 이상" required/><br/>
        <button type="button" onclick="axiosPost()">로그인</button>
    </form>
    <h3 id="message"></h3>
    <script>
        function getData(){
            const form = document.forms['register'];

            if(!form.checkValidity()){
            form.reportValidity();
            return false;
            }

            const data = {
                id: form.id.value,
                pw: form.pw.value,
            }

            return data;
        }

        async function axiosPost() {
            const data = getData();
            const res = await axios({
                method: 'post',
                url: '/axios',
                data: data,
            })
            
            const { isSuccess, msg } = res.data;
            console.log(isSuccess);
            if(isSuccess == true) {
                $("#message").html(msg);
                $("#message").css("color", "blue");
            }else {
                $("#message").html(msg);
                $("#message").css("color", "red");
            }
            
        }
    </script>
</body>
</html>