/* div .apple {
    color: red;
} */
/* 하위 선택자. 태그 하위에 있는 클래스 선택 */


/* div > .apple {
    color: yellow;
} */
/* 자식 선택자. 자손 포함 안 함 하위랑 다름 */


h1 + ul {
    color:blue;
}
/* 인접 형제 선택자. 다음 형제 중 하나 선택 */


h1 ~ ul {
    font-size: 40px;
}
/* 일반 형제 선택자. 다음에 있는 거 모두 선택 */


