.wm-2 {
    color:red;
}

div > .wm-2 {
    color:blue;
}

/* css 우선 순위 */
/* !important > 인라인 스타일 > 아이디 선택자 > 자식 선택자
> 클래스/속성/가상 선택자 > 태그 선택자 > 전체 선택자 */



section > p {
    background-color: blueviolet;
}

#seeun {
    background-color: darkcyan;
}

/* ID 선택자의 우선 순위가 자식 선택자보다 높음을 확인했음. */