.wm-2 {
    color:red;
}

div > .wm-2 {
    color:blue;
}

/* css 우선 순위 */
/* !important > 인라인 스타일 > 아이디 선택자 > 자식 선택자
> 클래스/속성/가상 선택자 > 태그 선택자 > 전체 선택자 */



section > p {
    background-color: blueviolet;
}

#seeun {
    background-color: darkcyan;
}

/* ID 선택자의 우선 순위가 자식 선택자보다 높음을 확인했음. */


/* px, em, rem, % */
body{
    font-size: 16px;
}

.font-css {
    font-size: 2em; /*부모요소 기준*/
}

.parent {
    font-size: 30px;
}

.child-font {
    font-size: 2rem; /*최상위. html 폰트 기준*/
    font-weight: 600;
    font-family: Pretendard-Regular;
}

:root{ /*html 전체 선택함. rem이 됨*/
    font-size:30px;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

/* 눈누 사이트에서 복붙해옴. */


.width-css {
    background-color: blue;
    display: inline-block;
    /* min-width: 300px; */
    max-width: 100%;
    min-height: ;
    max-height: ;
}

.border-css {
    border: 1px solid red;
    border-radius: 30px;
    background-color: blue;
}

.margin-css {
    margin: 10px 20px 30px;
    /*1개 입력시 : 상하좌우
    2개 입력시 : 상하 / 좌우
    3개 입력시 : 상 / 우좌 / 하
    4개 입력시 : 상 우 하 좌 */
    border: 2px solid black;
    background-color: blue;
    color:white;
    padding: 50px 20px 30px; /* margin과 동일*/

}

.box-css {
    box-sizing: content-box;
    /* only 콘텐츠의 크기만 지정 */
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    padding:20px;
}

.box-css2 {
    box-sizing: border-box;
    /* 전체 영역의 크기 지정 (content + padding + border ) */
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    padding:20px;
    border: 20px solid red;
    margin: 30px;
}